<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Rock Paper Scissors Game</title>
</head>
<body>
<form action="/playUsingChoice" method="POST">

  <div class="form-group">
      <h1>Welcome to the Rock/Paper/Scissors Game!</h1>
    <label>Please submit your choice for the game</label>
      <input id="rock-submit" type="submit" name="submit" value="rock">
      <input id="scissors-submit" type="submit" name="submit" value="scissors">
      <input id="paper-submit" type="submit" name="submit" value="paper">
  </div>

 </form>
</body>
</html>